{% extends 'base.html.twig' %}

{% block body %}

<h1>Récapitulatif</h1>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>


        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Type de billet</th>
            <th>Prix</th>
        </tr>

        </thead>

        {% for billet in infos.billets %}
            <h1>Billet </h1>

            <tr>
                <td>{{ billet.prenom }}</td>
                <td>{{ billet.nom }}</td>
                <td>{{ billet.datedenaissance|date('d/m/Y') }}</td>
                {% if billet.tarifReduit == false %}
                    <td>Tarif normal</td>
                {% else  %}
                    <td>Tarif réduit</td>
                {% endif %}
                <td>{{ billet.prix }}</td>

            </tr>
        {% endfor %}

        <thead>
<h1>Commande! </h1>
        <tr>

            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Date de visite</th>
            <th>Total</th>

        </tr>
        </thead>
        <tbody>
        <tr>

            <td>{{ infos.prenom }}</td>
            <td>{{ infos.nom }}</td>
            <td>{{ infos.email }}</td>
            <td>{{ infos.dateVisit|date('d/m/Y') }}</td>
            <td>{{ infos.total }}</td>

        </tr>


        </tbody>
    </table>
</div>

    <form action="{{ path("sucess",{'id':infos.id}) }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_test_z16N614eB2vZ55wxNgFCtZ8900dEpyRlOB"
                data-name="{{ infos.nom }}"
                data-description="Billet "
                data-amount="{{ infos.total*100 }}"
                data-currency="eur">
        </script>
    </form>

    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
    <button
            style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
            id="checkout-button-sku_F63fvnqgjvA1md"
            role="link"
    >
        Payer
    </button>

    <div id="error-message"></div>

    <!-- Load Stripe.js on your website. -->


{% endblock %}
